---
import '@fortawesome/fontawesome-svg-core/styles.css'
import BoothCard from "../components/booth_card.astro"
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div style="width:70%;font-size:16px">
			<BoothCard	title="物理学実験"
					place="445教室"
					describe="物理の実験をします。\n予習が多いです。hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh"
					tags={["a","b"]} />
		</div>
	</body>
</html>
