---
import BoothCardContainer from "../components/boothCard_container.vue";
import BoothCardFilterPc from "../components/atoms/boothCard_filter_pc.vue";
import A from "../components/a.vue";
const bc={
	title:"チーバ君と遊ぼう！",
	group:"チーバ君愛好会",
	place:"運動場",
	describe:"チーバ君最高",
	tags:["ti-ba","tiba"],
	img:"ti-ba.jpg",
}
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BoothCardContainer client:load/>
	</body>
</html>
