---
import {Image} from "astro:assets";
import '@fortawesome/fontawesome-svg-core/styles.css';
import BoothCard from "../components/booth_card.astro";
import boothImage from '../images/rok.jpg';

const bc={
	title:"チーバ君と遊ぼう！",
	group:"チーバ君愛好会",
	place:"運動場",
	describe:"チーバ君最高",
	tags:["ti-ba","tiba"]
}
interface ImageModule{
	default:ImageMetadata;
}
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div style="width:70%;font-size:16px">
			<BoothCard	entry={bc} image={{default:boothImage}}/>
		</div>
	</body>
</html>
