---
import boothDatas from "../boothData.json";
import BoothCard from "./booth_card.astro";

function jsonToEntry(json:any){
    return {
        title:json.title,
        group:json.group,
        place:json.place,
        describe:json.describe,
        tags:json.tags
    };
}
interface ImageModule {
  default: ImageMetadata;
}
const imageModules = import.meta.glob<ImageModule>('../images/booth/*.{png,jpg,jpeg,gif,webp,avif}', { eager: true });
---

<div id="first_div">
    {
        boothDatas.map((boothData)=>{
            const image=imageModules[`../images/booth/${boothData.imgsrc}`];
            return <BoothCard entry={jsonToEntry(boothData)} image={image}></BoothCard>;   
        })
    }
</div>
<style>
@media screen and (max-width:450px) {
    #first_div{
        font-size:8px;
        width:100%;
    }
}
@media screen and (min-width:451px) and (max-width:600px) {
    #first_div{
        font-size:12px;
        width:100%;
    }
}
@media screen and (min-width:601px) and (max-width:700px){
    #first_div{
        font-size:16px;
        width:100%;
    }
}
@media screen and (min-width:701px) and (max-width:800px){
    #first_div{
        font-size:20px;
        width:100%;
    }
}
@media screen and (min-width:801px) and (max-width:900px) {
    #first_div{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        font-size:8px;
        >*{
            width:40%;
        }
    }
}
@media screen and (min-width:901px) and (max-width:1100px) {
    #first_div{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        font-size:12px;
        >*{
            width:41%;
        }
    }
}
@media screen and (min-width:1101px) {
    #first_div{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        font-size:16px;
        >*{
            width:42%;
        }
    }
}
</style>